// Definition of variables
$primary: #32c3ff;

// Import variables
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.App {
  text-align: center;
}

.thumbnail {
  height: 70px;
  width: 70px;
  object-fit: cover;
}
